body{
    background-size:cover;
    background-attachment: fixed;
    background-image: url("https://image.shutterstock.com/z/stock-photo-salary-word-background-on-wood-blocks-237454987.jpg");
}
h1{
    font-weight: bold;
    font-style: normal;
    color: darkgoldenrod;
}
label{
    color: darkgoldenrod;

}